.text{
  color: white;
  
}

.textbutton{
  position: relative;
  right:2px;
   position: centre;
  color: white;
}
.form-field{
  position: relative;
  left: 80px;
}
.Edit-Profile
{
  position: relative;
  left: 90px;
  color: white;    
  font-size: 40px;
  
}
h1{
  color: black;
   position: relative;
    left: 120px;
    font-style: bold;
    font-family: "Times New Roman", Times, serif;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px
}

form{
  width: 80%;
}

input[type=text] {
  position: relative;
 
  border-color : white;
 
  
  
}
.input1 {
  position: relative;
  width: 400px;
  left: 150px;
  height:30px
 
}


  button[type=submit] {
    position: relative;
    left: 290px;
    text-align: centre;
    width: 60px;
    border-color: white;
    background-color:rgb(69, 115, 207);
    height: 30px;
  }

  .required{
    color: rgb(236, 14, 14);
  }
  .dropDown {
    position: relative;
    width: 908px;
    left: 180px;
    height:30px  
  }
  
  .dropdown-multiple {
    position: relative;
    width: 908px;
    left: 180px;
    height:30px
  }
  
